<div class="container">
  
  <div class="row"></div>
  
  <h1 class="heading">How It Works</h1>
  <img src="/assets/mic.png" class="mic">
  <div class="hiw">
    <p>Welcome to Orate, the ultimate app for connecting speakers with event hosts. This convenient app systematizes and streamlines what is otherwise a haphazard communication process. The website allows visitors to view speakers and events that have already been posted, and facilitates sign in/login for those who want to be listed as speakers or event hosts themselves.</p>
    <p>Once you have created a user account and profile, you can list attributes such as your name, contact info, and a bio for speakers or an event description for event hosts that is then viewable to the public. Orate also enables users to search for events and speakers by their own search terms.</p>
  </div>
  
</div>