/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 */

.video-section .pattern-overlay {
padding: 0px;
margin-top: 10%;
min-height: 0px;
}

video#bgvid {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
}

#landing-tagline {
  color: white;
  font-size: 3em;
  text-align: center;
  text-shadow: 2px 2px gray;
  padding: 10% 0;
}

#landing-buttons {
  text-align: center;
}

.placeholder-section {
  background-color: white;
  margin-top: 10%;
}

.profile-pic {
  width: 300px;
  height: 300px;
  border-radius: 300px;
  border: 3px solid black;
}

.footer {
  padding: 30px 0;
  color: gray;
  background-color: black;
}
